@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  background-color: #F9F6F0;
  min-height: 160vh;
}
.header {
  position:relative;
  text-align:center;
  background: #28282B;
  color:#F9F6F0;
  border-radius: 10px;
  font-family: 'Helvetica', sans-serif;
  padding: 1px;
  margin-bottom: 20px;
  }

#output {
  padding: 20px;
  text-align: center;
}

h2 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  font-size: 38px;
}

a {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 2px;
}

hr {
  margin-top: 25px;
  border-top: 2px solid #28282B; /* changes thickness and color */
}

a:link, a:visited {
  background-color: #F9F6F0;
  color: #28282B	;
  border: 2px solid #28282B;
  border-radius: 7px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #28282B;
  color: white;
}

.seat-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.seat-type form {
  display: flex;
  justify-content: space-between;
  width: 47%;
}

.seat-type label {
  font-family: "Helvetica", sans-serif;
  width: 30%;
  padding: 9px 15px;
  margin: 8px 0 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  color: #F9F6F0;
  background-color: #28282B;
}

#seats {
  margin-bottom: 25px;
}

#seats table {
  width: 9%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 4px;
}

#seats td {
  text-align: center;
  padding: 7px;
  font-weight: bold;
  font-size: 13px;
  border: 3px solid #F9F6F0;
  border-radius: 6px;
}

.reserved-seats-table {
  border: 2px solid #28282B;
  margin: 30px 0 100px 45px; 
  border-radius: 4px;
  background-color: #F9F6F0;
}

.reserved-seats-table th, .reserved-seats-table td {
  padding: 10px;
}

.reserved-seats-table td {
  background-color: #F9F6F0;
  color: #28282B;
}

.container {
  margin-left: 45px;
  margin-right: 45px;
}

.center {
  width: 100%;
  text-align: center;
  margin-top: 100px; 
}

.form-group {
  display: inline-block;
  width: 45%;
  margin-right: 5%;
}

.container label {
  display: inline-block;
  width: 10%;
  text-align: left;
  margin-right: 5%;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  /* width: 5%; */
  padding: 8px 15px;
  margin: 8px 0 20px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  box-sizing: border-box;
  color: #343434;
  background-color: #F9F6F0;
} 

input {
  display: inline-block;
  width: 30%;
  padding:11px 15px 10px;
  margin: 8px 0 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #F9F6F0;
  background-color: #343434;
}

#name-input::placeholder {
  color: #F9F6F0;
  font-weight: bold;
}

#reserve-button {
  width: 10%;
  background-color: #343434;
  color: #F9F6F0;
  padding: 14px 20px;
  margin: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}